---
apiVersion: v1
kind: Secret
metadata:
  name: {{ lightspeed_chatbot_config_secret_name }}
  namespace: {{ aap_namespace }}
stringData:
  chatbot_url: {{ lightspeed_chatbot_url }}
  chatbot_model: {{ lightspeed_chatbot_model }}
  chatbot_token: {{ lightspeed_chatbot_token }}
type: Opaque
