---
apiVersion: v1
kind: Secret
metadata:
  name: {{ lightspeed_model_config_secret_name }}
  namespace: {{ aap_namespace }}
stringData:
  username: {{ lightspeed_user_name }}
  model_url: {{ lightspeed_model_url }}
  model_api_key: {{ lightspeed_model_api_key }}
  model_id: "{{ lightspeed_model_id }}"
  model_type: "{{ lightspeed_model_type }}"
type: Opaque
