---
apiVersion: v1
kind: Secret
metadata:
  name: {{ lightspeed_auth_config_secret_name }}
  namespace: {{ aap_namespace }}
stringData:
  auth_api_url: "https://{{ aap_hostname }}"
  auth_api_key: "{{ lightspeed_oauth_client_id }}"
  auth_api_secret: "{{ lightspeed_oauth_client_secret }}"
  auth_verify_ssl: "{{ require_valid_certs | default(true) }}"
  auth_allowed_hosts: "*"
type: Opaque
